In [13]:
import numpy as np
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
tickers = ['AAPL', 'BHP.AX']

In [15]:
def RSIcalc(asset):
    df = data.DataReader(
        asset, 
        'yahoo',
        start = '2007/01/01',
        end = '2011/01/01'
    )
    
    df['MA200'] = df['Close'].rolling(window=200).mean()
    df['price change'] = df['Close'].pct_change()
    df['Upmove'] = df['price change'].apply(lambda x: x if x > 0 else 0)
    df['Downmove'] = df['price change'].apply(lambda x: abs(x) if x < 0 else 0)
    df['Avg Up'] = df['Upmove'].ewm(span=19).mean()
    df['Avg Down'] = df['Downmove'].ewm(span=19).mean()
    df = df.dropna()
    df['RS'] = df['Avg Up'] / df['Avg Down']
    df['RSI'] = df['RS'].apply(lambda x: 100-(100/(x+1)))
    df.loc[(df['Close'] > df['MA200']) & (df['RSI'] < 30), 'Buy'] = 'Yes'
    df.loc[(df['Close'] < df['MA200']) | (df['RSI'] > 30), 'Buy'] = 'No'
    return df

In [16]:
RSIcalc(tickers[0])

,High,Low,Open,Close,Volume,Adj Close,MA200,price change,Upmove,Downmove,Avg Up,Avg Down,RS,RSI,Buy
Date,,,,,,,,,,,,,,,
2007-10-17,6.180000,6.042143,6.167500,6.169643,1127613200,5.297357,4.089096,0.018693,0.018693,0.000000,0.012946,0.003981,3.251799,76.480543,No
2007-10-18,6.221071,6.108929,6.125000,6.196429,823676000,5.320355,4.105114,0.004342,0.004342,0.000000,0.012086,0.003583,3.372966,77.132225,No
2007-10-19,6.236786,6.071429,6.222857,6.086429,1291780000,5.225908,4.120250,-0.017752,0.000000,0.017752,0.010877,0.005000,2.175425,68.508151,No
2007-10-22,6.246429,6.070000,6.083929,6.227143,1649499600,5.346727,4.136198,0.023119,0.023119,0.000000,0.012101,0.004500,2.689184,72.893737,No
2007-10-23,6.735714,6.527143,6.734286,6.648571,1795164000,5.708572,4.154179,0.067676,0.067676,0.000000,0.017659,0.004050,4.360192,81.343951,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-12-27,11.622857,11.482857,11.530357,11.595714,249816000,9.956268,9.693525,0.003337,0.003337,0.000000,0.003480,0.001922,1.810567,64.419995,No
2010-12-28,11.666429,11.609286,11.639643,11.623929,175924000,9.980494,9.711673,0.002433,0.002433,0.000000,0.003375,0.001730,1.951237,66.115901,No
2010-12-29,11.658929,11.610714,11.650714,11.617500,163139200,9.974976,9.729680,-0.000553,0.000000,0.000553,0.003038,0.001612,1.884296,65.329498,No
2010-12-30,11.625357,11.537500,11.624286,11.559286,157494400,9.924993,9.747455,-0.005011,0.000000,0.005011,0.002734,0.001952,1.400581,58.343422,No
2010-12-31,11.552857,11.475357,11.533929,11.520000,193508000,9.891260,9.764939,-0.003399,0.000000,0.003399,0.002461,0.002097,1.173550,53.992310,No

In [17]:
def getSignals(df):

    Buying_dates = []
    Selling_dates = []
    
    for i in range(len(df) - 11):
        #If column 'Buy'
        if "Yes" in df['Buy'].iloc[i]: 
            Buying_dates.append(df.iloc[i+1].name)
            for j in range(1,11):
                if df['RSI'].iloc[i + j] > 40:
                    Selling_dates.append(df.iloc[i+j].name)
                    break #Break the loop once the condition has been met i.e. RSI > 40
        
                #2nd condition: if 1st condition hasn't been met, sell after maximum 10 days
                elif j == 10:
                    Selling_dates.append(df.iloc[i+j+1].name)   
      
    return Buying_dates, Selling_dates

In [18]:
df_test = RSIcalc(tickers[0])


buy, sell = getSignals(df_test)

In [25]:
buy

[Timestamp('2007-12-20 00:00:00'),
 Timestamp('2008-01-14 00:00:00'),
 Timestamp('2010-01-27 00:00:00'),
 Timestamp('2010-01-31 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('2010-04-29 00:00:00'),
 Timestamp('2010-04-30 00:00:00'),
 Timestamp('2010-05-03 00:00:00')]

In [26]:
sell

[Timestamp('2007-12-23 00:00:00'),
 Timestamp('2008-01-23 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('2010-05-13 00:00:00'),
 Timestamp('2010-05-14 00:00:00'),
 Timestamp('2010-05-17 00:00:00')]

In [19]:
#Profit = (df_test.loc[sell].Close.values - df_test.loc[buy].Close.values) / df_test.loc[buy].Close.values

In [31]:
df_test['Profit'] = 0

In [33]:
Profit = (df_test.loc[sell].Close.values - df_test.loc[buy].Close.values) / df_test.loc[buy].Close.values

In [20]:
Profit

array([ 0.        ,  0.        , -0.16868657, -0.12274396,  0.04176553,
        0.03063119])

In [21]:
wins = [i for i in Profit if i > 0]

In [22]:
probability = len(wins) / len(Profit)
probability

0.3333333333333333

In [23]:
matrix_signals = []
matrix_profits = []

for i in range(len(tickers)):
    df_test = RSIcalc(tickers[i])
    buy,sell = getSignals(df_test)
    Profit = (df_test.loc[sell].Close.values - df_test.loc[buy].Close.values) / df_test.loc[buy].Close.values
    matrix_signals.append(buy)
    matrix_profits.append(Profit)

In [24]:
matrix_profits

[array([ 0.        ,  0.        , -0.16868657, -0.12274396,  0.04176553,
         0.03063119]),
 array([ 0.02194203, -0.10049088, -0.00589681,  0.03214292,  0.        ,
        -0.0414815 , -0.05177916, -0.06678465])]